<html>
    <head>
       <% include templates/header.ejs %>
    </head>
    <body>
        
        
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
        
      <a class="navbar-brand" href="#">Softvision</a>
    
    <ul class="nav navbar-nav">
      <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Page 3</a></li>
    </ul>
    </div>
</nav>
        <img class="img-fluid" src="/images/careers.jpg"> 
        <h3 class="text-center">Latest Jobs</h3>
        <div class="container">
            
            <div class="row">
                <div class="col-sm-1">
                  <p style="margin-top:70px">  <i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i></p>
                    
                </div>
                <div id="div1" class="col-sm-3 text-center" style="margin-top:30px;border-left:solid black;border-right:solid black">
                    <h3> Oracle Developer </h3>
                   
                    <p>------------------</p>
                    <h4>Bangalore</h4>
                    
                    <button class="btn-success" style="margin-top:20px;margin-bottom:20px;"> Read More</button>
                </div>
                <div id="div2" class="col-sm-3 text-center" style="margin-top:30px;border-right:solid black">
                <h3>Java Developer </h3>
                    <p>-------------------</p>
                    <h4>Bangalore</h4>
                    
                    <button class="btn-success" style="margin-top:20px;margin-bottom:20px;"> Read More</button>
                </div>
                <div id="div3" class="col-sm-3 text-center" style="margin-top:30px;border-right:solid black">
                <h3>Unix Administrator </h3>
                    <p>------------------</p>
                    <h4>Bangalore</h4>
                    <button class="btn-success" style="margin-top:20px; margin-bottom:20px;"> Read More</button>
                </div>
                <div class="col-sm-1">
                 <p style="margin-top:70px"><i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i></p>
                </div>
           
            </div>
        
        </div>
        
        
        <div class="container">
        <h1 class="text-center">Welcome to Softvision Careers </h1>
        
            <div class="row">
            <article class="col">
                <img src="images/bendre.jpg" class="img-fluid rounded-circle center-block" style="height:200px;">
            
                <blockquote class="blockquote blockquote-reverse">"Dattatreya Ramachandra Bendre (31 January 1896 – 26 October 1981), popularly known as Da. Ra. Bendrewas one of the most notable Kannada poets of the Navodaya Period. He was given the honorific Varakavi (gifted poe)Bendre was awarded the Jnanpith Award[1] for Kannada, the highest" 
                    <div class="blockquote-footer"> Bendre </div>
                </blockquote>
            </article>
        
            <article class="col">
                <img src="/images/shivaram.jpg" class="img-fluid rounded-circle center-block" style="height:200px;">
                <blockquote class="blockquote">" Maasthi Venkatesa Iyengar (6 June 1891 – 6 June 1986) was a well-known writer in Kannada language. He was the fourth among Kannada writers to be honored with the Jnanpith Award 
                    <div class="blockquote-footer"> Shivaram </div> </blockquote>
            </article>
                <article class="col">
                <img src="/images/kuvempu.jpg" class="img-fluid rounded-circle center-block" style="height:200px;width:200px;">
                
              <blockquote class="blockquote"> "Vinayaka Krishna Gokak (9 August 1909 – 28 April 1992) was a major writer in the Kannada language and a scholar of English and Kannada literatures. He was the fifth writer[1] to be honoured with <div class="blockquote-footer"> Kuvempu </div></blockquote>
            </article>
            </div>
            
            
        </div>
        <footer>
            <br>
            <div class="footer-top" style="background-color: #454545">
                <div class="container">
                    <br>
                <div class="row">
                    
                <div class="col-sm-3" style="color:red">
                    <img src="/images/logo.png" width=200 height=100>
                       
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled" style=" font-family: 'Open Sans', sans-serif;font-size: 15px;text-color:red;">
                        <li><a>Java</a></li>
                        <li><a>.Net</a></li>
                        <li>DataStage</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled" style="font-family: 'Open Sans', sans-serif;font-size: 15px;">
                        <li>Mainframe</li>
                        <li>Oracle</li>
                        <li>Big Data</li>
                    </ul>
                </div>
                    <div class="col-sm-3">
                    <ul class="list-inline">
                        <br>
                        
                        <li class="list-inline-item"><a href="#" class="twitter"><i class="fa fa-twitter  fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="facebook"><i class="fa fa-facebook  fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="google"><i class="fa fa-google-plus  fa-2x"></i></a></li>
                    </ul>
                    
                </div>
                </div>
            </div>
                </div>
            <div class="footer-bottom text-center" style="height:30px;background-color:#454545">
                
                
            <div style="background-color: #172b3f;height: 1px" class="footer_bottom_border "></div>
                <span>©  2017 Softvision. All rights reserved.</span>
            </div>
                
        </footer>
    </body>
</html>
